html {
    height: 100%;
}

body {
    min-height: 100%;
    position: relative;
    padding-bottom: 75px;
}

#sticky-footer {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    line-height: 75px;
}

.page-not-found {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(135,134,134);
    background: radial-gradient(circle, rgba(135,134,134,1) 0%, rgba(32,32,32,1) 100%);
}

.page-not-found .jumbotron {
    margin-top: 45vh;
    transform: translateY(-50%);
}